#adminContractCreateModal.modal.fade(data-backdrop="static" tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
    .modal-dialog(role='document')
        .modal-content
            .modal-header
                h5#exampleModalLabel.modal-title Create Contract
                button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span.modal-title(aria-hidden='true') &times;
            .modal-body
                form(action='/createContract' method='POST')
                    .row
                        .col
                            label UserId
                            input.form-control(type='text' name='user_id')
                        .col
                            label Numri i llogarisë
                            input.form-control(type='text' name='bank_account_id')
                    .row
                        .col
                            label Departamenti
                            input.form-control(type='text' name='department')
                        .col
                            label Pozita
                            input.form-control(type='text' name='position')
                    .row
                        .col
                            label Data e fillimit
                            input.form-control(type='date' required name='contract_registration_date')
                        .col
                            label Data e përfundimit
                            input.form-control(type='date' required name='contract_termination_date')
                    .row
                        .col
                            label Gjithsejt ditë pune
                            input.form-control(type='text' name='working_days')
                        .col
                            label Gjithsejt ditë pushimi
                            input.form-control(type='text' name='days_off')
                    .row
                        .col.col-md-6
                            label Paga bazë
                            input.form-control(type='text' name='basic_salary')
                    .modal-footer
                        button.btn#konSave(type='Submit' style='background-color:#980709; color:white') Save
                        button.btn(type='button' data-dismiss='modal' style='background-color:#980709; color:white') Close