#adminUserModal.modal.fade(data-backdrop="static" tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
    .modal-dialog(role='document')
        .modal-content
            .modal-header
                h5#exampleModalLabel.modal-title User
                button.close(type='button' data-dismiss='modal' aria-label='Close' onclick='useSave()')
                    span.modal-title(aria-hidden='true') &times;
            .modal-body
                form
                    .row
                        .col
                        each val in users
                            
                                label(for='emri') Emri
                                input.form-control(type='text' id='emri' value=val.first_name disabled='') 
                        .col
                            label(for='mbiemri') Mbiemri
                            input.form-control(type='text' id='mbiemri' value='' disabled='')
                    .row
                        .col
                            label(for='emriIprindit') Emri i prindit
                            input.form-control(type='text' id='emriIprindit' value='' disabled='')
                        .col
                            label(for='nrPersonal') Numri Personal
                            input.form-control(type='text' id='nrPersonal' value='' disabled='')
                    .row
                        .col
                            label(for='dataElindjes') Data e Lindjes
                            input.form-control(type='text' id='dataElindjes' value='' disabled='')
                        .col
                            label(for='vendiIlindjes') Vendi i lindjes
                            input.form-control(type='text' id='vendiIlindjes' value='' disabled='')
                    .row
                        .col
                            label(for='adresa') Adresa
                            input.form-control(type='text' id='adresa' value='' disabled='')
                        .col
                            label(for='telefoni') Telefoni
                            input.form-control(type='text' id='telefoni' value='' disabled='')
                    .row
                        .col
                            label(for='telZyre') Telefoni/Zyre
                            input.form-control(type='text' id='telZyre' value='' disabled='')
                        .col
                            label(for='email') Email
                            input.form-control(type='text' id='email' value='' disabled='')
                    .row
                        .col
                            label(for='gjinia') Gjinia
                            input.form-control(type='text' id='gjinia' value='' disabled='')
                        .col
                            label(for='shtetesia') Shtatesia
                            input.form-control(type='text' id='shtetesia' value='' disabled='')
                    .row
                        .col
                            label(for='eksperienca') Eksperienca
                            input.form-control(type='text' id='eksperienca' value='' disabled='')
                        .col
                            label(for='edukimi') Edukimi
                            input.form-control(type='text' id='edukimi' value='' disabled='')
            .modal-footer
                button.btn#useEdit(type='button' style='background-color:#980709; color:white' onclick='useEdit()') Edit
                button.btn#useSave(type='button' style='background-color:#980709; color:white' disabled='' onclick='useSave()') Save
                button.btn(type='button' data-dismiss='modal' style='background-color:#980709; color:white' onclick='useSave()') Close