div#ws-connect(type="button")
    #v-pills-tab.nav.flex-column.nav-pills(role='tablist' aria-orientation='vertical')
        a#v-pills-admin-home-tab.nav-link.active(data-toggle='pill' href='#v-pills-admin-home' role='tab' aria-controls='v-pills-admin-home' aria-selected='true') Admin Info
        a#v-pills-admin-users-tab.nav-link(data-toggle='pill' href='#v-pills-admin-users' role='tab' aria-controls='v-pills-admin-users' aria-selected='false') Përdoruesit
        a#v-pills-admin-kontratat-tab.nav-link(data-toggle='pill' href='#v-pills-admin-kontratat' role='tab' aria-controls='v-pills-admin-kontratat' aria-selected='false') Kontratat
        a#v-pills-admin-paga-tab.nav-link(data-toggle='pill' href='#v-pills-admin-paga' role='tab' aria-controls='v-pills-admin-paga' aria-selected='false') Paga
        a#v-pills-admin-bonuset-tab.nav-link(data-toggle='pill' href='#v-pills-admin-bonuset' role='tab' aria-controls='v-pills-admin-bonuset' aria-selected='false') Bonuset
        a#v-pills-admin-diskuto-tab.nav-link(data-toggle='pill' href='#v-pills-admin-diskuto' role='tab' aria-controls='v-pills-admin-diskuto' aria-selected='false') Diskuto
