#adminKontrataModal.modal.fade(data-backdrop="static" tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
    .modal-dialog(role='document')
        .modal-content
            .modal-header
                h5#exampleModalLabel.modal-title Kontrata admin
                button.close(type='button' data-dismiss='modal' aria-label='Close' onclick='konSave()')
                    span.modal-title(aria-hidden='true') &times;
            .modal-body
                form(action='/createContract' method='POST')
                    .row
                        .col
                            label(for='userId') UserId
                            input.form-control(type='text' id='userId' value='' disabled='')
                        .col
                            label(for='nrIllogarise') Numri i llogarisë
                            input.form-control(type='text' id='nrIllogarise' value='' disabled='')
                    .row
                        .col
                            label(for='departamenti') Departamenti
                            input.form-control(type='text' id='departamenti' value='' disabled='')
                        .col
                            label(for='pozita') Pozita
                            input.form-control(type='text' id='pozita' value='' disabled='')
                    .row
                        .col
                            label(for='dataEfillimit') Data e fillimit
                            input.form-control(type='text' id='dataEfillimit' value='' disabled='')
                        .col
                            label(for='dataEperfundimit') Data e përfundimit
                            input.form-control(type='text' id='dataEperfundimit' value='' disabled='')
                    .row
                        .col
                            label(for='ditePune') Gjithsejt ditë pune
                            input.form-control(type='text' id='ditePune' value='' disabled='')
                        .col
                            label(for='ditePushimi') Gjithsejt ditë pushimi
                            input.form-control(type='text' id='ditePushimi' value='' disabled='')
                    .row
                        .col.col-md-6
                            label(for='pagaBazek') Paga bazë
                            input.form-control(type='text' id='pagaBazek' value='' disabled='')

            .modal-footer
                button.btn#konEdit(type='button' style='background-color:#980709; color:white' onclick='konEdit()') Edit
                button.btn#konSave(type='Submit' style='background-color:#980709; color:white' disabled='' onclick='konSave()') Save
                button.btn(type='button' data-dismiss='modal' style='background-color:#980709; color:white' onclick='konSave()') Close