#adminUserCreateModal.modal.fade(data-backdrop="static" tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
    .modal-dialog(role='document')
        .modal-content
            .modal-header
                h5#exampleModalLabel.modal-title Create User
                button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span.modal-title(aria-hidden='true') &times;
            .modal-body
                form(action='/createUser' method='POST')
                    .row
                        .col
                            label(for='emri') Emri
                            input.form-control(type='text'  name='first_name')
                        .col
                            label(for='mbiemri') Mbiemri
                            input.form-control(type='text' name='last_name')
                    .row
                        .col
                            label(for='username') Username
                            input.form-control(type='text'  name='username')
                        .col
                            label(for='password') Password
                            input.form-control(type='password' name='password')
                    .row
                        .col
                            label(for='emriIprindit') Emri i prindit
                            input.form-control(type='text'  name='parent_name')
                        .col
                            label(for='nrPersonal') Numri Personal
                            input.form-control(type='text'  name='personal_number')
                    .row
                        .col
                            label(for='dataElindjes') Data e Lindjes
                            input.form-control(type='text'  name='birthdate')
                        .col
                            label(for='vendiIlindjes') Vendi i lindjes
                            input.form-control(type='text'  name='birthplace')
                    .row
                        .col
                            label(for='adresa') Adresa
                            input.form-control(type='text'  name='address')
                        .col
                            label(for='telefoni') Telefoni
                            input.form-control(type='text'  name='mobile')
                    .row
                        .col
                            label(for='telZyre') Telefoni/Zyre
                            input.form-control(type='text'  name='phone')
                        .col
                            label(for='email') Email
                            input.form-control(type='email'  name='email')
                    .row
                        .col
                            label(for='gjinia') Gjinia
                            input.form-control(type='text'  name='gender' )
                        .col
                            label(for='shtetesia') Shtatesia
                            input.form-control(type='text'  name='nationality')
                    .row
                        .col
                            label(for='edukimi') Edukimi
                            input.form-control(type='text'  name='education')
                        .col
                                label(for='previous_years_experience') Vitet e eksperiences
                                input.form-control(type='text'  name='previous_years_experience' )    
                    .row
                        .col
                            label(for='eksperienca') Eksperienca
                            input.form-control(type='textfield'  name='experience' )

                    .modal-footer
                        button.btn#useSave(type='Submit' style='background-color:#980709; color:white') Save
                        button.btn(type='button' data-dismiss='modal' style='background-color:#980709; color:white') Close
