div.modal.fade(id = bonusesid2 data-backdrop="static" tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
    .modal-dialog(role='document')
        .modal-content
            .modal-header
                h5#exampleModalLabel.modal-title Bonus
                button.close(type='button' data-dismiss='modal' aria-label='Close' onclick='bonSave()')
                    span.modal-title(aria-hidden='true') &times;
            .modal-body
                .row
                    .col
                        label(for='oretShtese') Orët shtesë
                        input.form-control.modalInput(type='text' id='oretShtese' value='' disabled='')
                    .col
                        label(for='pagesaPerOreShtese') Pagesa për orët shtesë
                        input.form-control.modalInput(type='text' id='pagesaPerOreShtese' value='' disabled='')
                .row
                    .col
                        label(for='orePuneNeJave') Orë pune në javë
                        input.form-control.modalInput(type='text' id='orePuneNeJave' value='' disabled='')
                    .col
                        label(for='pagesaPerOrePune') Pagesa për orë pune
                        input.form-control.modalInput(type='text' id='pagesaPerOrePune' value='' disabled='')
                .row
                    .col
                        label(for='temeDiplome') Temë diplome
                        input.form-control.modalInput(type='text' id='temeDiplome' value='' disabled='')
                    .col
                        label(for='pagesaPerTemeDiplome') Pagesa për temë diplome
                        input.form-control.modalInput(type='text' id='pagesaPerTemeDiplome' value='' disabled='')
                .row
                    .col
                        label(for='provimeMaster') Provime master
                        input.form-control.modalInput(type='text' id='provimeMaster' value='' disabled='')
                    .col
                        label(for='pagesaPerProvimeMaster') Pagesa për provime master
                        input.form-control.modalInput(type='text' id='pagesaPerProvimeMaster' value='' disabled='')
            .modal-footer
                button.btn#bonEdit(type='button' style='background-color:#980709; color:white' onclick='bonEdit()') Edit
                button.btn#bonSave(type='button' style='background-color:#980709; color:white' disabled='' onclick='bonSave()') Save
                button.btn(type='button' data-dismiss='modal' style='background-color:#980709; color:white' onclick='bonSave()') Close