#adminUserCreateModal.modal.fade(data-backdrop="static" tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
    .modal-dialog(role='document')
        .modal-content
            .modal-header
                h5#exampleModalLabel.modal-title Create User
                button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span.modal-title(aria-hidden='true') &times;
            .modal-body
                form(action='/createUser' method='POST')
                    .row
                        .col
                            label Emri
                            input.form-control(type='text'  name='first_name')
                        .col
                            label Mbiemri
                            input.form-control(type='text' name='last_name')
                    .row
                        .col
                            label Username
                            input.form-control(type='text'  name='username')
                        .col
                            label Password
                            input.form-control(type='password' name='password')
                    .row
                        .col
                            label Emri i prindit
                            input.form-control(type='text'  name='parent_name')
                        .col
                            label Numri Personal
                            input.form-control(type='text'  name='personal_number')
                    .row
                        .col
                            label Data e Lindjes
                            input.form-control(type='date'  name='birthdate')
                        .col
                            label Vendi i lindjes
                            input.form-control(type='text'  name='birthplace')
                    .row
                        .col
                            label Adresa
                            input.form-control(type='text'  name='address')
                        .col
                            label Telefoni
                            input.form-control(type='text'  name='mobile')
                    .row
                        .col
                            label Telefoni/Zyre
                            input.form-control(type='text'  name='phone')
                        .col
                            label Email
                            input.form-control(type='email'  name='email')
                    .row
                        .col
                            label Gjinia
                            input.form-control(type='text'  name='gender' placeholder='F(female) or M(male)')
                        .col
                            label Shtatesia
                            input.form-control(type='text'  name='nationality')
                    .row
                        .col
                            label Edukimi
                            input.form-control(type='text'  name='education')
                        .col
                                label Vitet e eksperiences
                                input.form-control(type='text'  name='previous_years_experience' )    
                    .row
                        .col
                            label Eksperienca
                            input.form-control(type='textfield'  name='experience' )

                    .modal-footer
                        button.btn#useSave(type='Submit' style='background-color:#980709; color:white') Save
                        button.btn(type='button' data-dismiss='modal' style='background-color:#980709; color:white') Close