#adminPagaModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
    .modal-dialog(role='document')
        .modal-content
            .modal-header
                h5#exampleModalLabel.modal-title Paga
                button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span.modal-title(aria-hidden='true') &times;
            .modal-body
                .row
                    .col
                        label(for='pagaBruto') Paga bruto
                        input.form-control(type='text' id='pagaBruto' placeholder='')
                    .col
                        label(for='pagaBaze') Paga bazë
                        input.form-control(type='text' id='pagaBaze' placeholder='')
                .row
                    .col
                        label(for='pervoja') Përvoja
                        input.form-control(type='text' id='pervoja' placeholder='')
                    .col
                        label(for='kontributi') Kontributi i punëtorit
                        input.form-control(type='text' id='kontributi' placeholder='')
                .row
                    .col
                        label(for='transporti') Transporti
                        input.form-control(type='text' id='transporti' placeholder='')
                    .col
                        label(for='shujta') Shujta
                        input.form-control(type='text' id='shujta' placeholder='')
                .row
                    .col
                        label(for='sigurimi') Sigurimi
                        input.form-control(type='text' id='sigurimi' placeholder='')
                    .col
                        label(for='sindikata') Sindikata
                        input.form-control(type='text' id='sindikata' placeholder='')
                .row
                    .col
                        label(for='tatimi') Tatimi
                        input.form-control(type='text' id='tatimi' placeholder='')
                    .col
                        label(for='pagaNeto') Paga neto
                        input.form-control(type='text' id='pagaNeto' placeholder='')
            .modal-footer
                button.btn(type='button' style='background-color:#980709; color:white') Edit
                button.btn(type='button' style='background-color:#980709; color:white' disabled='') Save
                button.btn(type='button' data-dismiss='modal' style='background-color:#980709; color:white') Close