title W3.CSS
meta(name='viewport' content='width=device-width, initial-scale=1')
link(rel='stylesheet' href='https://www.w3schools.com/w3css/4/w3.css')
head
  style.
    .display{
    width:30%;
    height:40%;
    }
.w3-container
  h2 Universiteti i Prishtinës
  p Universiteti i Prishtinës është themeluar me Ligjin mbi Themelimin e Universitetit të Prishtinës, kuvendi themelues i Universitetit të Prishtinës u mbajt më 13 shkurt 1970, kurse dy ditë më vonë, më 15 shkurt 1970, u mbajt edhe mbledhja solemne e Kuvendit dhe pikërisht kjo datë u shpall Dita e Universitetit të Prishtinës. 
  p Universiteti i Prishtinës i ka këto njësi akademike:Fakultetin Filozofik, Fakultetin e Shkencave Matematike-Natyrore, Fakultetin e Filologjisë, Fakultetin Juridik, Fakultetin Ekonomik, Fakultetin e Ndërtimtarisë dhe të Arkitekturës, Fakultetin e Inxhinierisë Elektrike dhe Kompjuterike, Fakultetin e Inxhinierisë Mekanike, Fakultetin e Mjekësisë, Fakultetin e Arteve, Fakultetin e Bujqësisë, Fakultetin e Shkencave Sportive, Fakultetin e Edukimit, Fakulteti i Arkitekturës
  img.w3-round-large(src='../images/fakulteti1.jpg' alt='Norway' class="w3-display-bottomleft display")
  img.w3-round-large(src='../images/universiteti3.jpg' alt='Norway' style='width:30%' class="w3-display-bottommiddle display")
  img.w3-round-large(src='../images/Universiteti2.PNG' alt='Norway' style='width:30%' class="w3-display-bottomright display")
