#userPagaModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
    .modal-dialog(role='document')
        .modal-content
            .modal-header
                h5#exampleModalLabel.modal-title Paga
                button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span.modal-title(aria-hidden='true') &times;
            .modal-body
                p Paga bruto:
                p Paga bazë:
                p Përvoja:
                p Kontributi i punëtorit:
                p Transporti:
                p Shujta:
                p Sigurimi:
                p Sindikata:
                p Bonuset:
                p Tatimi:
                p Paga neto:
            .modal-footer
                button.btn(type='button' data-dismiss='modal' style='background-color:#980709; color:white') Close