#v-pills-tab.nav.flex-column.nav-pills(role='tablist' aria-orientation='vertical')
    a#v-pills-user-home-tab.nav-link.active(data-toggle='pill' href='#v-pills-user-home' role='tab' aria-controls='v-pills-user-home' aria-selected='true') Profesor Home
    a#v-pills-user-profile-tab.nav-link(data-toggle='pill' href='#v-pills-user-profile' role='tab' aria-controls='v-pills-user-profile' aria-selected='false') Profili
    a#v-pills-user-kontratat-tab.nav-link(data-toggle='pill' href='#v-pills-user-kontratat' role='tab' aria-controls='v-pills-user-kontratat' aria-selected='false') Kontratat
    a#v-pills-user-paga-tab.nav-link(data-toggle='pill' href='#v-pills-user-paga' role='tab' aria-controls='v-pills-user-paga' aria-selected='false') Paga
    a#v-pills-user-diskuto-tab.nav-link(data-toggle='pill' href='#v-pills-user-diskuto' role='tab' aria-controls='v-pills-user-diskuto' aria-selected='false') Diskuto